
node_modules/
session.json
CoronaService/anu.js
CoronaService/covid19.js
CoronaService/chats.json
old.index.js
coronaService/test.js
CoronaService/anu.json
user/user.json
.env
util/anu.js
util/test.js
util/anu.json
package-lock.json
.eslintrc.js
helper/userCek.js
.vscode/launch.json

Bot.code-workspace
